apiVersion: apps/v1
kind: Deployment
metadata:
  name: mongo
  namespace: devops-demo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mongo
  template:
    metadata:
      labels:
        app: mongo
    spec:
      containers:
        - name: mongo
          image: mongo:7
          ports:
            - containerPort: 27017
          env:
            # ---------------- ANCIENNE VERSION (en dur) ----------------
            # - name: MONGO_INITDB_ROOT_USERNAME
            #   value: "devops"
            # - name: MONGO_INITDB_ROOT_PASSWORD
            #   value: "devops"

            # ---------------- NOUVELLE VERSION (Secret) ----------------
            - name: MONGO_INITDB_ROOT_USERNAME
              valueFrom:
                secretKeyRef:
                  name: mongo-secret
                  key: MONGO_INITDB_ROOT_USERNAME
            - name: MONGO_INITDB_ROOT_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: mongo-secret
                  key: MONGO_INITDB_ROOT_PASSWORD
            - name: MONGO_INITDB_DATABASE
              valueFrom:
                secretKeyRef:
                  name: mongo-secret
                  key: MONGO_INITDB_DATABASE

          volumeMounts:
            - name: mongo-data
              mountPath: /data/db
      volumes:
        - name: mongo-data
          emptyDir: {}

