apiVersion: v1
kind: Service
metadata:
  name: mongo-svc
  namespace: devops-demo
spec:
  selector:
    app: mongo
  ports:
    - name: mongo
      port: 27017
      targetPort: 27017
      protocol: TCP
  type: ClusterIP
