apiVersion: argoproj.io/v1alpha1
kind: ImageUpdater
metadata:
  name: devops-image-updater
  namespace: argocd-image-updater-system
spec:
  # on surveille ton Application ArgoCD existante
  applicationRefs:
    - name: devops-api
      namespace: argocd

      # images à surveiller
      images:
        - alias: api
          imageName: ghcr.io/samuel-elie/devops-api:latest
          commonUpdateSettings:
            updateStrategy: newest-build
            # si tu tagges avec SHA, décommente et ajuste :
            # allowTags: "^[0-9a-f]{7,40}$"

  # write-back Git (persistant GitOps)
  writeBackConfig:
    method: git:github-token
    gitConfig:
      branch: main
