apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: devops-image-updater
  namespace: argocd
spec:
  project: default
  destination:
    server: https://kubernetes.default.svc
    namespace: argocd
  source:
    repoURL: https://argoproj.github.io/argo-helm
    chart: argocd-image-updater
    targetRevision: 0.11.0   # ou latest stable
    helm:
      values: |
        config:
          logLevel: info
        authScripts:
          enabled: true
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
