name: Build & Push Docker image (GHCR)

on:
  push:
    branches: [ "main" ]

permissions:
  contents: read
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            ghcr.io/samuel-elie/devops-api/devops-api:latest
            ghcr.io/samuel-elie/devops-api/devops-api:${{ github.sha }}

            # ANCIEN (KO) : github.repository contient des MAJUSCULES => GHCR refuse
            # ghcr.io/${{ github.repository }}/devops-api:latest
            # ghcr.io/${{ github.repository }}/devops-api:${{ github.sha }}
